services:
  postgres:
    image: postgres:16-alpine
    environment:
        POSTGRES_DB: ozon_1
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 20

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gorbushka_migrate
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    command: ["uv", "run", "alembic", "-c", "alembic.ini", "upgrade", "head"]
    restart: "no"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gorbushka_ozon_app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      migrate:
        condition: service_completed_successfully
    restart: unless-stopped

volumes:
  pgdata:
